<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="4">

  <!--  
<test name="Tutorialspoint" >
      <classes>
         <class name="com.runner.testing" />
      </classes>
   </test>
-->

    <test name="Test">
     
         <classes>
             <class name="Runner.Runner"/>
          </classes>
     </test> 
      
     
      <!--  
     <test name="FirefoxTest">
      <parameter name ="browser" value="firefox"></parameter>
         <classes>
             <class name="com.runner.TestNgRunner"/>
          </classes>
     </test> 
      -->
     
</suite> <!-- Suite -->